html, body, #app, component, .container {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 10rem;
  flex: 1 0 0;
}
.container#sign_in, .container#sign_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#userblock {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}
#search_container {
  transition: 0.5s width;
}
.container.collapsed #search_container {
  width: 100% !important;
}
#logo_container {
  height: 15em;
  overflow: hidden;
  opacity: 1;
  transition: height 0.5s, opacity 0.5s;;
}
.container.collapsed #logo_container {
  height: 0;
  opacity: 0;
}
#logo {
  width: 15em;
}
#team_img {
  max-width: 30em;
}
