html, body, #app, component, .container {
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
}
.container {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-bottom: 10rem;
  flex: 1 0 0;
}
.container#search, .container#sign_in, .container#sign_up {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#userblock {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
}
#logo {
  width: 15em;
}
#team_img {
  max-width: 30em;
}
